* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.content-container {
  margin: 0 auto;
  max-width: 51.25rem;
}

.header-heading {
  font-size: 2em;
  font-weight: 700;
  padding: 0.5rem 0;
}

.bayan-container {
  cursor: pointer;
}

.bayan-item {
  font-size: 1.5em;
  padding: 0.5rem 0;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.bayan-icon {
  width: 20px;
  height: 20px;
  background: url(assets/plus.png) center no-repeat;
  background-size: 15px 15px;
}

.bayan-img {
  display: none;
}